<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Page</title>
</head>
<body>
    <h1>Thank you for filling out the form, <%= details.fname %> <%= details.lname %>!</h1>
    <p>Job Title: <%= details.jobtitle %></p>
    <p>Company: <%= details.company %></p>
    <p>LinkedIn URL: <%= details.linkedinurl %></p>
    <p>Email: <%= details.email %></p>
    <p>How we met: <%= details.meeting %></p>
    <p>Other: <%= details.other %></p>
    <p>Message: <%= details.message %></p>
    <p>Mailing List: <%= details.mailinglist %></p>
</body>
</html>